<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>{{passObj?.fullname}}</h4>
            </div>
            <div class="card-body">
                <h6>Checked In Date : 
                    {{(passObj?.checkInDate) ? (passObj?.checkInDate | date) : 'Not Checked In'}}
                    </h6>
                    <h6>Children : {{passObj?.children === null ? '0' : passObj?.children?.length}}</h6>
            </div>
        </div>
    </div>
</div>
