
<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col">
      
      <!-- <app-dashboard></app-dashboard>
      <app-products></app-products>
      <app-users></app-users>
      <app-airline-passengers></app-airline-passengers> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- How to communicate between 2 different components

>>1. Input Output decorators
>>2. Services
>>3. By using Routing-->

<!-- Routing Paths
>> Absolute >> When we use '/' >> baseUrl+parameter >> eg. localhost:4200/products
>> Relative >> When we dont use '/' >> currentUrl+Parameter >> eg.-->