<div class="row">
    <div class="col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3lAXN8Y5Qv3TfwDNZlmWu5HPe1BzZUwJotA&usqp=CAU" alt="" >
        <button class="btn btn-primary mt-4" (click)="goToProducts()">Go to Products</button>
    </div>
</div>




<!-- 
>> on the click of the button we have to move into another component is called programetical routing 
>> here we are moving from dashboard component to products component after clicking on the button
>> here we write lthe code in the ts file -->
